@import "https://fonts.googleapis.com/css?family=Montserrat&display=swap";
@import "https://fonts.googleapis.com/css?family=Teko&display=swap";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: #262626;
  overflow-x: hidden; }

header {
  width: 1440px;
  position: relative;
  margin: auto;
  height: 78px;
  background-color: #262626;
  background-size: cover; }
  header .header_text {
    color: #f8f8f8;
    position: absolute;
    top: 33px;
    font-size: 12px;
    font-weight: 500;
    left: 192px;
    font-family: Montserrat;
    display: inline; }
  header .list {
    height: 78px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    right: 195px; }
    header .list a:not(:first-child) {
      margin-right: 28px; }

.main {
  width: 1440px;
  margin: auto;
  height: 800px;
  background-image: url(img/harley-davidson-1Lg7p5hC2pI-unsplash.jpg);
  background-size: cover; }
  .main .main__header {
    overflow: hidden;
    position: relative;
    top: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px; }
    .main .main__header .main__logo {
      position: relative;
      top: 5px;
      left: 191px; }
    .main .main__header .main__nav {
      position: relative; }
      .main .main__header .main__nav a {
        text-decoration: none;
        letter-spacing: 0.45px;
        margin-right: 52px;
        font-size: 23px;
        font-family: Teko;
        font-weight: 600;
        color: #404040; }
        .main .main__header .main__nav a:not(:last-child):after {
          content: '';
          display: inline-block;
          transform: rotate(360grad);
          width: 9px;
          height: 9px;
          background-color: #004cff;
          position: relative;
          left: 25px;
          pointer-events: none; }
        .main .main__header .main__nav a.active {
          color: #004cff; }
    .main .main__header .main__shopping {
      letter-spacing: 0.45px;
      padding: 20px 30px;
      font-family: Teko;
      font-weight: 600;
      font-size: 23px;
      width: 201px;
      background-color: #004cff;
      color: #ffffff;
      position: relative;
      right: 191px; }
  .main .main__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 164px; }
    .main .main__center .main__slogan {
      font-family: Teko;
      font-size: 68px;
      font-weight: 700;
      line-height: 72px;
      color: #ffffff;
      width: 328px;
      position: relative;
      left: 192px;
      letter-spacing: 2.73px;
      overflow: hidden; }
    .main .main__center .main__slider {
      position: relative;
      position: relative;
      right: 113px; }
      .main .main__center .main__slider p {
        width: 16px;
        height: 16px;
        border: 4px solid #404040;
        margin-top: 22px;
        border-radius: 8px; }
        .main .main__center .main__slider p.active {
          border-color: #004cff; }
  .main .main__discover {
    position: relative;
    left: 191px;
    top: 392px; }
    .main .main__discover button {
      width: 248px;
      height: 61px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      background: none;
      border: 6px solid #ffffff; }

.bikes {
  margin: 45px 45px 0px;
  height: 848px; }
  .bikes .top-bikes {
    display: flex;
    justify-content: center; }
    .bikes .top-bikes .bike-info {
      position: relative;
      width: 890px;
      height: 402px;
      font-family: Teko;
      color: #ffffff; }
      .bikes .top-bikes .bike-info .info-content {
        transition: opacity .5s;
        opacity: 0;
        position: absolute;
        background-color: rgba(0, 4, 255, 0.75);
        width: 100%;
        height: 100%; }
        .bikes .top-bikes .bike-info .info-content:hover {
          opacity: 1;
          cursor: pointer; }
        .bikes .top-bikes .bike-info .info-content .info-title {
          width: 50%;
          height: 50%;
          color: #ffffff;
          font-size: 68px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 2.73px;
          position: relative;
          left: 5%;
          top: 20%; }
        .bikes .top-bikes .bike-info .info-content .info-substring {
          position: absolute;
          right: 68px;
          bottom: 73px;
          font-size: 78px;
          font-weight: 700;
          line-height: 1;
          width: 100px; }
          .bikes .top-bikes .bike-info .info-content .info-substring span {
            font-size: 43px;
            font-weight: 500;
            line-height: 1; }
      .bikes .top-bikes .bike-info img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
    .bikes .top-bikes .bike-info__min {
      width: 417px;
      margin-left: 44px; }
  .bikes .bottom-bikes {
    margin-top: 45px; }
    .bikes .bottom-bikes .bike-info__min {
      margin-left: 0; }
    .bikes .bottom-bikes .bike-info__last {
      margin-left: 44px; }

.product {
  margin: auto;
  margin-top: 122px;
  height: 742px;
  width: 1060px;
  text-align: center; }
  .product h2 {
    color: #f1f1f1;
    font-family: Teko;
    font-size: 53px;
    font-weight: 700;
    line-height: 1; }
  .product .menu {
    margin-top: 60px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 400;
    line-height: 1; }
    .product .menu a {
      text-decoration: none;
      color: #f1f1f1;
      margin-right: 46px; }
  .product hr {
    height: 1px;
    margin-top: 50px;
    border: 2px solid #b2b2b2; }
  .product .pdoduct__helmets {
    margin-top: 74px;
    display: flex;
    justify-content: center; }
    .product .pdoduct__helmets .helm {
      background-color: #ffffff;
      height: 510px;
      width: 340px; }
      .product .pdoduct__helmets .helm:not(:first-child) {
        margin-left: 22px; }
      .product .pdoduct__helmets .helm img {
        margin: 48px 44px 0px; }
      .product .pdoduct__helmets .helm .helm__price {
        color: #262626;
        font-family: Monstercat;
        font-size: 21px;
        font-weight: 600;
        line-height: 1;
        margin: 74px 39px 0px; }
        .product .pdoduct__helmets .helm .helm__price p {
          color: #004cff;
          font-size: 30px;
          font-weight: 700;
          line-height: 1;
          margin-top: 27px; }

.footer-bikes {
  margin-top: 130px;
  height: 1080px; }
  .footer-bikes .top-bikes .bike-info {
    width: 777px;
    height: 486px; }
  .footer-bikes .top-bikes .bike-info__min {
    width: 530px;
    left: -44px; }
  .footer-bikes .bike-wrapper {
    display: flex;
    justify-content: center; }
  .footer-bikes .street-biker {
    width: 1350px;
    height: 550px;
    margin: auto;
    margin-top: 45px;
    position: relative;
    display: flex;
    justify-content: center; }
    .footer-bikes .street-biker img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    .footer-bikes .street-biker .info-content {
      opacity: .75;
      background-color: #004cff;
      position: absolute;
      width: 100%;
      height: 100%;
      color: #ffffff; }
    .footer-bikes .street-biker form {
      position: relative;
      top: 340px;
      height: 63px;
      font-family: Montserrat;
      font-size: 19px;
      display: flex;
      justify-content: center; }
      .footer-bikes .street-biker form .input-text {
        /* Style for "Rectangle" */
        padding-left: 44px;
        width: 720px;
        height: 62px;
        background-color: #ffffff;
        color: #707070;
        font-weight: 400;
        border: none; }
        .footer-bikes .street-biker form .input-text:focus {
          outline: none;
          box-shadow: none; }
      .footer-bikes .street-biker form .input-submit {
        /* Style for "SUBMIT" */
        color: #ffffff;
        font-weight: 600;
        background-color: #004cff;
        border: none;
        outline: none;
        height: 100%;
        width: 180px; }
    .footer-bikes .street-biker h1 {
      color: #ffffff;
      font-family: Teko;
      font-size: 97px;
      font-weight: 700;
      line-height: 146.25px;
      position: absolute;
      margin-top: 160px; }

.conditions {
  width: 1058px;
  height: 165px;
  margin: auto;
  margin-top: 105px;
  display: flex;
  justify-content: space-between; }
  .conditions .condition {
    border: 3px solid #707070;
    background-color: #ffffff;
    width: 338px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .conditions .condition img {
      padding-left: 31px; }
    .conditions .condition .codition__text {
      color: #262626;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 700;
      line-height: 1;
      padding: 0 35px; }
      .conditions .condition .codition__text div {
        color: #707070;
        font-size: 11px;
        font-weight: 400;
        line-height: 1;
        margin-top: 15px; }

.moto-jpegs {
  display: flex;
  justify-content: center;
  margin-top: 104px; }
  .moto-jpegs img {
    width: 480px;
    object-fit: cover;
    object-position: center; }

.navigation {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  line-height: 2;
  margin-top: 114px; }
  .navigation h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 39px; }
    .navigation h3.follow {
      margin-top: 68px; }
  .navigation a {
    color: #ffffff;
    text-decoration: none; }
  .navigation ul {
    list-style: none; }
  .navigation .about {
    width: 252px; }
    .navigation .about .about-social {
      display: flex;
      justify-content: space-between; }
      .navigation .about .about-social .img-wrapper {
        width: 50px;
        height: 50px;
        background-color: #004cff;
        text-align: center;
        vertical-align: middle;
        border-radius: 25px; }
        .navigation .about .about-social .img-wrapper img {
          margin-top: 50%;
          transform: translate(0, -50%); }
  .navigation .info {
    margin-left: 110px; }
  .navigation .location {
    margin-left: 70px;
    width: 248px; }
    .navigation .location .location__logo {
      margin-top: -10px; }
    .navigation .location .location__text {
      margin-top: 15px; }
    .navigation .location .pays {
      margin-top: 30px;
      display: flex;
      justify-content: space-between; }

.cut {
  margin: 67px 67px 0px 67px;
  height: 1px;
  border: 2px solid #b2b2b2; }

footer {
  width: 1000px;
  margin: auto;
  display: flex;
  margin-top: 48px;
  margin-bottom: 60px; }
  footer a {
    color: #b2b2b2;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.2px;
    letter-spacing: 0.13px;
    text-decoration: none; }
    footer a:nth-child(1) {
      margin-right: 45px; }
    footer a:nth-child(2) {
      margin-right: 509px; }

/*# sourceMappingURL=style.css.map */
