
@import "https://fonts.googleapis.com/css?family=Montserrat&display=swap";
@import "https://fonts.googleapis.com/css?family=Teko&display=swap";
// Montserrat
// Teko
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #262626;
    overflow-x: hidden;
}
header {
    height: 78px;
    background-color: #262626;
    background-size: cover;
    .header_text {
        color: #f8f8f8;
        position: absolute;
        top: 33px;
        font-size: 12px;
        font-weight: 500;
        left: 192px;
        font-family: Montserrat;
        display: inline;
    }
    .list {
        height: 78px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        position: relative;
        right: 195px;
        a:not(:first-child) {
            margin-right: 28px;
        }
    }
    
}

.main {
    width: 100%;
    height: 800px;
    background-image: url(img/harley-davidson-1Lg7p5hC2pI-unsplash.jpg);
    background-size: cover;
    .main__header {
        overflow: hidden;
        position: relative;
        top: 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        .main__logo {
            position: relative;
            top: 5px;
            left: 191px;
        }
        .main__nav {
            position: relative;
            a {
                text-decoration: none;
                letter-spacing: 0.45px;
                margin-right: 52px;
                font-size: 23px;
                font-family: Teko;
                font-weight: 600;
                color: #404040;
                &:not(:last-child):after {
                    content: '';
                    display: inline-block;
                    transform: rotate(360grad);
                    width: 9px;
                    height: 9px;
                    background-color: #004cff;
                    position: relative;
                    left: 25px;
                    pointer-events: none;
                }
                &.active {
                    color: #004cff;
                }
            }
        }
        .main__shopping {
            letter-spacing: 0.45px;
            padding: 20px 30px;
            font-family: Teko;
            font-weight: 600;
            font-size: 23px;
            width: 201px;
            background-color: #004cff;
            color: #ffffff;
            position: relative;
            right: 191px;
        }
    }
    .main__center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 164px;
        .main__slogan {
            font-family: Teko;
            font-size: 68px;
            font-weight: 700;
            line-height: 72px;
            color: #ffffff;
            width: 328px;
            position: relative;
            left: 192px;
            letter-spacing: 2.73px;
            overflow: hidden;
        }
        .main__slider {
            position: relative;
            position: relative;
            right: 113px;
            p {
                width: 16px;
                height: 16px;
                border: 4px solid #404040;
                margin-top: 22px;
                border-radius: 8px;
                &.active {
                    border-color: #004cff;
                }
            }
        }
    }
    .main__discover {
        position: relative;
        left: 191px;
        top: 392px;
        button {
            width: 248px;
            height: 61px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            background: none;
            border: 6px solid #ffffff;
        }
    }
}

.bikes {
    margin: 45px 45px 0px;
    height: 848px;
    .top-bikes {
        display: flex;
        justify-content: center;
        .bike-info {
            position: relative;
            width: 890px;
            height: 402px;
            font-family: Teko;
            color: #ffffff;
            .info-content {
                opacity: 0;
                position: absolute;
                background-color: rgba(0, 4, 255, 0.75);
                width: 100%;
                height: 100%;
                &:hover {
                    opacity: 1;
                }
                .info-title {
                    width: 50%;
                    height: 50%;
                    color: #ffffff;
                    font-size: 68px;
                    font-weight: 500;
                    line-height: 61.5px;
                    letter-spacing: 2.73px;
                    position: relative;
                    left: 5%;
                    top: 20%;
                }
                .info-substring {
                    position: absolute;
                    right: 68px;
                    bottom: 73px;
                    font-size: 78px;
                    font-weight: 700;
                    line-height: 1;
                    width: 100px;
                    span {
                        font-size: 43px;
                        font-weight: 500;
                        line-height: 1;
                    }
                }
            }
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
    
        }
        .bike-info__min {
            width: 417px;
            margin-left: 44px;
        }
    }
    .bottom-bikes {
        margin-top: 45px;
        .bike-info__min {
            margin-left: 0;
        }
        .bike-info__last {
            margin-left: 44px;
        }
    }
}